@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Comand for import fonts of google fonts @import url("url of font')*/
/*
#caf0f8 0
#48cae4 1
#0096c7 2
#023e8a 3
#03045e 4
*/
/*
esse comando seleciona todos os elementos do html para ter uma configuração global
*{
    aqui coloque as configurações. exemplo: margin, pading
}
*/

:root{
    --cor0: #caf0f8;
    --cor1: #48cae4;
    --cor2: #0096c7;
    --cor3: #023e8a; 
    --cor4: #03045e;
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
}   
*{
    margin: 0px;
    padding: 0px;
}

.blocoPadrao{
    background-color: #023e8a;
}
