@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Comand for import fonts of google fonts @import url("url of font')*/
/*
#caf0f8 0
#48cae4 1
#0096c7 2
#023e8a 3
#03045e 4
*/
/*
esse comando seleciona todos os elementos do html para ter uma configuração global
*{
    aqui coloque as configurações. exemplo: margin, pading
}
*/

:root{
    --cor0: #caf0f8;
    --cor1: #48cae4;
    --cor2: #0096c7;
    --cor3: #023e8a; 
    --cor4: #03045e;
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
}   
*{
    margin: 0px;
    padding: 0px;
}

.blocoPadrao{
    background-color: #023e8a;
    color: aliceblue;

}
body{
    background-color: white;
    font-family:var(--font-padrao);
}
a > img{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin: auto;
    padding-top: 24px;
}
/*configurando o cabeçalho = header e o menu*/
header{
    /* background-image: linear-gradient(to bottom, var(--cor2), black); Código para usar degradê */
    background-color: black;
    min-height: 150px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
header > p{
    color: var(--cor1);
    text-shadow: 2px 3px 3px #1db7ff41;
}
header > h1 {
 color: var(--cor1);
 font-family: var(--font-destaque);
 padding-top: 24px;
}
.subtitulo{
    font-family: var(--font-padrao);
    font-size: 24px;
    line-height: 2em;
    font-weight: 400px;
    color: #3f3e3e;
}
article > h1 {
    margin: 50px 24px 24px 24px;
    font-size: 40px;
}
article > p {
    font-size: 24px;
    margin: 32px;
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}
main p {
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 20px;
}

main img{ /* Agora ele está diminundo a imagem quando a tela é menor*/
    width: 100%;
    display: block;
    border-radius: 10px;
    margin-top: 50px;
}
nav {
    background-color: black;
    padding: 15px;
    text-align: center;
}
nav a{
    color: #caf0f8;
    padding: 10px;
    text-decoration: none; /* tirar o sublinhado*/
    font-weight: bold;
}
nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor4);
    border-radius: 5px;
    transition-duration: 0.5s;
}
.referencia { /* caso tenha comentario de alguma pessoa, um relato etc*/
    font-style: italic;
    border-color: #000000;
    border-left-style: solid;
    padding: 1em;
    font-size: 18px;
}
footer{
    background-color: var(--cor4);
    color: aliceblue;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer  a{
    color: wheat;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    color: var(--cor1);
    text-decoration: underline;
}
 article p a{
    text-decoration: none;
    color: black;
 }
 article p a:hover{
    color: var(--cor1);
    text-decoration: underline;
 }